################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/mars-rover/RoverPhotosApp/.vs/RoverPhotosApp/v16
/mars-rover/RoverPhotosApp/RoverPhotosApp/obj
/mars-rover/RoverPhotosApp/.vs/RoverPhotosApp
/mars-rover/RoverPhotosApp/NasaAPIService/obj
/mars-rover/RoverPhotosApp/RoverPhotosApp/bin/Debug/netcoreapp3.1
/mars-rover/RoverPhotosApp/Testing/obj
/mars-rover/RoverPhotosApp/Testing/bin/Debug/netcoreapp3.1
/mars-rover/RoverPhotosApp/NasaAPIService/bin/Debug/netcoreapp3.1
